<form>
    <fieldset>
        <legend>Add Torrents</legend>
        <input type="file" id="torrents" name="torrents[]" multiple />
        <div id="upload-status"></div>
    </fieldset>
    <br />
    <fieldset>
        <label for="path">
            <span>Path</span>
            <input type="text" placeholder="/home/media/" ng-model="source.path" class="form-control" name="path" id="path"/>
        </label>
        <label for="baseUrl">
            <span>Base URL</span>
            <input type="text" placeholder="http://localhost/media" ng-model="source.baseUrl" class="form-control" name="baseUrl" id="baseUrl"/>
        </label>
        <label for="type">
            <span>Type</span>
            <select id="type" name="type" class="form-control" ng-model="source.type">
                <option value="local">Local</option>
            </select>
        </label>
        <button ng-click="add(source)">Save</button>
    </fieldset>
</form>
<table class="table">
    <tr ng-repeat="source in sources">
        <td>{{source.path}}</td>
        <td>{{source.urlBase}}</td>
        <td>{{source.type}}</td>
        <td><a class="btn btn-danger delete-link" ng-click="delete(source)"><i class="delete-icon"></i> Delete</a></td>
    </tr>
</table>