.padded {
  padding: 10px;
}
.controls {
  font-size: 2em;
}
.disabled {
  color: grey;
}
.disabled a {
  color: grey;
}
.progress {
  margin-top: 20px;
  border: solid 1px black;
}
.loading {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 128px;
  height: 128px;
  margin-left: -64px;
  margin-top: -64px;
  background-color: white;
  box-shadow: 3px 3px 2px black;
}
.thumbnail {
  width: 100px;
}
.video {
  text-align: center;
  padding: 10px;
  height: 390px;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
.video .img-thumbnail {
  min-height: 220px;
}
.video .video-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 20px;
  margin-top: 20px;
  font-size: 20px;
}
.video:hover .video-dropdown {
  display: block;
}
.video .delete-icon {
  font-size: 14px;
  color: indianred;
}
.video .play-icon,
.video .transcode-icon {
  display: none;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 72px;
  height: 150px;
  color: #5cb85c;
}
.video .overlay {
  display: none;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.5;
  background-image: -webkit-linear-gradient(left, color-stop(#5cb85c 0%), color-stop(#428bca 100%));
  background-image: linear-gradient(to right, #5cb85c 0%, #428bca 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff428bca', GradientType=1);
}
.video.active {
  background-color: #428bca;
}
.video.highlight {
  background-color: #92bce0;
}
.video.highlight.transcoding {
  background: none !important;
}
.transcoding .img-thumbnail {
  opacity: 0.5;
}
.transcoding .overlay {
  display: block;
}
.video-nav {
  margin: 10px 0px;
}
.video-nav ul {
  margin: 0;
  padding: 0;
}
.video-nav ul li {
  display: inline;
  list-style: none;
}
.video-nav ul li .asc:before {
  content: "<";
}
.video-nav ul li .desc:before {
  content: ">";
}
