.padded {
  padding: 10px; }

.controls {
  font-size: 2em; }

.disabled {
  color: grey; }
  .disabled a {
    color: grey; }

.progress {
  margin-top: 20px;
  border: solid 1px black; }

.loading {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 128px;
  height: 128px;
  margin-left: -64px;
  margin-top: -64px;
  background-color: white;
  box-shadow: 3px 3px 2px black; }

.thumbnail {
  width: 100px; }

.video {
  text-align: center;
  height: 300px;
  padding: 10px; }

.active {
  background-color: #428bca;
  color: #fefefe; }
