.padded {
  padding: 10px;
}
.controls {
  font-size: 2em;
}
.disabled {
  color: grey;
}
.disabled a {
  color: grey;
}
.progress {
  margin-top: 20px;
  border: solid 1px black;
}
.loading {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 128px;
  height: 128px;
  margin-left: -64px;
  margin-top: -64px;
  background-color: white;
  box-shadow: 3px 3px 2px black;
}
.thumbnail {
  width: 100px;
}
.video {
  text-align: center;
  padding: 10px;
}
.video .delete-icon {
  display: none;
  position: absolute;
  top: 0;
  margin-top: 20px;
  right: 0;
  margin-right: 20px;
  font-size: 20px;
  color: indianred;
}
.video:hover .delete-icon {
  display: block;
}
.video.active {
  background-color: #428bca;
}
.video.highlight {
  background-color: #92bce0;
}
.video-nav {
  margin: 10px 0px;
}
.video-nav ul {
  margin: 0;
  padding: 0;
}
.video-nav ul li {
  display: inline;
  list-style: none;
}
.video-nav ul li .asc:before {
  content: "<";
}
.video-nav ul li .desc:before {
  content: ">";
}
