extends layout
block content
  if messages
    .alert.alert-danger= messages
  .row
    .col-md-4.col-md-offset-4
      form(role="form",method="post",action="/login")
        .form-group
          label(for="username") Username
          input#username.form-control(type="text",name="username")
          br
          label(for="password") Password
          input#password.form-control(type="password",name="password")
          br
          label.checkbox(for="remember_me")
            input#remember-me(type="checkbox",name="remember_me",checked="checked")
            span Remember Me
          br
          input.form-control.btn.btn-primary.submit(type="submit")